
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    <link href="~/Resources/platform/css/login.css" rel="stylesheet" />
}
@section Body{
    <div class="box" style="height:220px" id="app">
        <form>
            <div class="item">
                <span>原密码：</span>
                <input type="password" class="txt" placeholder="原密码" maxlength="20" v-model="oldPassword" />
            </div>
            <div class="item">
                <span class="name">新密码：</span>
                <input type="password" class="txt" placeholder="密码" maxlength="20" v-model="password" />
            </div>
            <div class="item">
                <span class="name">确认密码：</span>
                <input type="password" class="txt" placeholder="确认密码" maxlength="20" v-model="confirmPassword" />
            </div>
            <div class="item btn">
                <input type="button" class="btn" v-model="btnText" v-on:click="editPassword" />
            </div>
            <div class="item">
                <span class="error" v-text="errorMsg"></span>
            </div>
        </form>

    </div>
}
@section Script{

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                oldPassword: null,
                password: null,
                confirmPassword: null,
                isPosting: false,
                errorMsg: ''
            },
            computed: {
                btnText: function () {
                    return this.isPosting ? '确定...' : '确定';
                }
            },
            methods: {
                editPassword: function () {
                    if (this.isPosting)
                        return;

                    if (!this.oldPassword) {
                        this.errorMsg = '原密码不能为空';
                        return;
                    }
                    if (!this.password) {
                        this.errorMsg = '新密码不能为空';
                        return;
                    }

                    if (this.password.length < 6) {
                        this.errorMsg = '密码长度至少6位';
                        return;
                    }

                    if (!this.confirmPassword) {
                        this.errorMsg = '确认密码不能为空';
                        return;
                    }

                    if (this.password != this.confirmPassword) {
                        this.errorMsg = '两次输入的密码不一致';
                        return;
                    }

                    this.errorMsg = '';
                    this.isPosting = true;

                    var parms = {
                        oldPassword: this.oldPassword,
                        password: this.password
                    }


                    this.$options.signPost(buildUrl('~/Platform/Home/EditPassword'), parms, (function (res) {

                        if (res.error) {
                            this.isPosting = false;
                            this.errorMsg = res.error.message;
                            return;
                        }
                        alert('密码修改成功，请重新登录');
                        parent.redirectToLoginOut();
                    }).bind(this));
                }
            },
            created: function () {

            }
        });
    </script>
}
