
@{
    ViewBag.Title = "系统管理";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    <link href="~/Resources/platform/css/index.css" rel="stylesheet"/>
}
@section Body{
    <div class="box">
    <div class="topbox">攀枝花国土资源公众号管理后台</div>
    <ul class="list">
        <li class="li"><a href="#">数据抓取设置</a></li>
        <li class="li cur"><a href="#">公众号菜单管理</a></li>
        <li class="li"><a href="#">文章管理</a></li>
       
    </ul>
    <div class="content">
        <iframe src="http://www.handday.com" width="100%" height="100%"></iframe>
    </div>
</div>
}
@section Script{
   
}
