
@{
    ViewBag.Title = "攀枝花国土资源后台管理平台";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    @*<link href="~/Resources/platform/css/default.css" rel="stylesheet" />*@
}
@section Body{
  
    <div>
        <div>
            <input type="button" id="btnMapMenu" value="同步菜单" onclick="initMapMenu()" />
            <p>
                <span id="tipMapMenuMsg"></span>
            </p>
        </div>
        <div>
            <input type="button" id="btnInit" value="初始化数据" onclick="initData()" />
            <p>
                <span id="tipInitMsg"></span>
            </p>
        </div>

       
    </div>

}
@section Script{
    <script type="text/javascript">

       
       
        var _posting = false;
        function initData() {
            if (_posting)
                return;
            _posting = true;

            $('#tipInitMsg').text('数据初始化中...');
         
            $.post(buildUrl('~/Platform/Home/InitData'), {}, function (res) {
                _posting = false;
                if (res.error) {
                    $('#tipInitMsg').text(res.error.message);
                    return;
                }

                $('#tipInitMsg').text('数据初始化完成');
            });
        }

        var _posting2 = false;
        function initMapMenu() {
            if (_posting2)
                return;
            _posting2 = true;

            $('#tipMapMenuMsg').text('数据初始化中...');
           
            $.post(buildUrl('~/Platform/Home/InitMapMenu'), {}, function (res) {
                _posting2 = false;
                if (res.error) {
                    $('#tipMapMenuMsg').text(res.error.message);
                    return;
                }

                $('#tipMapMenuMsg').text('数据初始化完成');
            });
        }
    </script>
}
