
@{
    ViewBag.Title = "公众号菜单管理";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    <link href="~/Resources/platform/css/default.css" rel="stylesheet" />
}
@section Body{

    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">

        <div>菜单管理</div>
    </div>

}
@section Script{

}
