
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    
}
@section Body{


    <div class="box" id="app">
      <div>用户管理</div>
    </div>

}
@section Script{
    <script type="text/javascript">

        var vm = new Vue({
            el: '#app',
            data: {},
            methods: {},
            created: function () {

            }
        });

    
    </script>
}
