
@{
    ViewBag.Title = "栏目管理";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

@section Style{

}
@section Body{
    <div id="toptoolbar"></div>
    <div id="grid"></div>
}
@section Script{
    <script type="text/javascript">
        $(function () {
            $("#toptoolbar").ligerToolBar({
                items: [
                    { text: '增加', click: itemclick, icon: 'add' },
                    { line: true },
                            { text: '修改', click: itemclick },
                    { line: true },
                            { text: '删除', click: itemclick }
                ]
            });

            $('#grid').ligerGrid({
                width: '60%',
                height: '99%',
                columns: [
                    { id: 'name', name: '名称', display:'名称'}
                    , { id: 'opt', name: '操作', display:'操作'}
                ]
            });
        });

        function itemclick() {

        }
    </script>
}
