
@model CategoryInfo
@{
    ViewBag.Title = "新增栏目";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    <style type="text/css">
        .boxItem {
            margin: 10px 0;
        }

        .boxLeft {
            width: 160px;
            text-align: right;
            padding-right: 10px;
            box-sizing: border-box;
            font-size: 14px;
            color: #404040;
            float: left;
            height: 34px;
            line-height: 34px;
        }

        .boxRight {
            margin-left: 160px;
        }

        .textbox {
            width: 342px;
            height: 34px;
            border: 1px solid #d2d5e0;
            border-radius: 2px;
            box-sizing: border-box;
            padding: 6px 30px 6px 10px;
            color: #404040;
            font-size: 14px;
        }

        .boxBtn {
            width: 562px;
            text-align: center;
            margin-bottom: 20px;
            padding-top: 30px;
        }

        .addbtn {
            width: 132px;
            height: 32px;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 14px;
            letter-spacing: 5px;
            margin: 0 20px;
            cursor: pointer;
        }

        .btnGreen {
            background: #60c74c;
        }
    </style>
}
@section Body{
    <div id="form1">
        <input type="hidden" name="Id" Id="Id" value="@Model.Id" />
        <div class="boxItem">
            <div class="boxLeft">栏目名称</div>
            <div class="boxRight">
                <input type="text" class="textbox" name="Name" id="Name" value="@Model.Name" maxlength="20" />
            </div>
        </div>
        <div class="boxBtn">
            <input type="button" class="addbtn btnGreen" v-bind:value="isPosting?'保存...':'保存'"  v-on:click="sendPostRequest" />
        </div>
    </div>
}
@section Script{
    <script type="text/javascript">
        $(function () {
            var ve = new Vue({
                el: '#form1',
                data: {
                    isPosting: false
                },
                methods: {
                    sendPostRequest: function () {

                        if (ve.isPosting)
                            return;

                        if (!$('#Name').val()) {
                            Tips.warn('栏目名称不能为空');
                            return;
                        }

                        ve.isPosting = true;

                        var filter = {
                            Id: $('#Id').val(),
                            Name:$('#Name').val()
                        };
                        $.post(buildUrl('~/platform/category/operation'), filter, function (res) {
                            ve.isPosting = false;
                            if (res.error) {
                                Tips.error(res.error.message);
                                return;
                            }

                            Tips.success('保存成功');
                            closeWindow(true, res.value);
                        });
                    }
                }
            });
        });
    </script>
}
