html, body {
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 14px;
}
.box {
    overflow: hidden;
    zoom: 1;
    position: relative;
}
.box .topbox {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.box .list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    overflow: auto;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
}
.box .list .li {
    padding: 10px;
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box .list .li.cur,
.box .list .li:hover {
    background-color: #f5f6f9;
    cursor: default;
}
.box .content {
    margin-left: 300px;
    padding: 10px;
}