@model int

<ul class="list">
    <li class="li @(Model==1?"cur":string.Empty)"><a href="#">数据抓取设置</a></li>
    <li class="li @(Model==2?"cur":string.Empty)"><a href="#">公众号菜单管理</a></li>
    <li class="li @(Model==3?"cur":string.Empty)"><a href="#">文章管理</a></li>
</ul>