
@{
    ViewBag.Title = "登录";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";
}

@section Style{
    @Html.RefCss("platform/css/login.css")
}
@section Body{

    <div class="login_box" id="app">
        <form name="form1" id="form1">
            <div class="login_head">攀枝花国土资源局公众号管理系统</div>
            <div class="login">
                <table>
                    <tr>
                        <td class="td1">
                            帐号：
                        </td>
                        <td class="td2">
                            <input type="text" class="in1" placeholder="帐号" maxlength="50" v-model="account" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">密码：</td>
                        <td class="td2">
                            <input type="password" class="in1" placeholder="密码" maxlength="20" v-model="password" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="td3">
                            <input type="button" class="btn_lg" v-model="btnText" v-on:click="login" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td3">
                            <span class="error" v-text="errorMsg"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
}
@section Script{

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                account: null,
                password: null,
                isLogin: false,
                errorMsg: ''
            },
            computed: {
                btnText: function () {
                    return this.isLogin ? '登录中...' : '登录';
                }
            },
            methods: {
                login: function () {
                    if (this.isLogin)
                        return;

                    if (!this.account) {
                        this.errorMsg = '登录账号不能为空';
                        return;
                    }
                    if (!this.password) {
                        this.errorMsg = '登录密码不能为空';
                        return;
                    }
                    this.errorMsg = '';
                    this.isLogin = true;

                    var parms = {
                        account: this.account,
                        password: this.password
                    }


                    this.$options.signPost(buildUrl('~/Platform/Login/Login'), parms, (function (res) {

                        if (res.error) {
                            this.isLogin = false;
                            this.errorMsg = res.error.message;
                            return;
                        }

                        location.href = buildUrl('~/Platform/Home/Index');
                    }).bind(this));
                }
            },
            created: function () {
                $("body").keydown(function () {

                    if (event.keyCode == "13") {//keyCode=13是回车键

                        
                        vm.login();
                    };

                });
            }
        });
    </script>
}
